/* Universal styles */
:root {
	--clr-orange: hsl(26, 100%, 55%);
	--clr-hover-orange: hsl(26, 100%, 55%, 55%);
	--clr-pale-orange: hsl(25, 100%, 94%);
	--clr-Vdark-blue: hsl(220, 13%, 13%);
	--clr-dark-grayish-blue: hsl(219, 9%, 45%);
	--clr-grayish-blue: hsl(220, 14%, 75%);
	--clr-light-grayish-blue: hsl(223, 64%, 98%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

/* General styles */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Kumbh Sans", sans-serif;
	padding-right: 0rem!important;
	overflow: hidden;
}
.main_container {
	height: 100vh;
}
p {
	margin-bottom: 0;
}

/* Navbar */
.navbar {
	padding: 1rem 0rem 1.5rem;
	background-color: var(--clr-white);
}
.navbar .container-fluid {
	justify-content: space-between;
}
.logo {
	padding-bottom: 6px;
	padding-left: 6px;
	color: var(--clr-black);
}
.btn .cart {
	padding: 0rem;
	border-radius: 0rem;
	border: none;
}
.cart_btn {
	padding: .3rem!important;
}
.cart-badge {
	color: var(--clr-white);
	background-color: var(--clr-orange);
	border-radius: 30px;
	padding: 3px 7px 1px;
}
.modal {
	--bs-modal-border-radius: var(--bs-border-radius-xl);
	margin-top: 7.5rem;
	height: 500px!important;
}
.modal-content {
	height: 260px;
	line-height: 140px;
}
.modal-body {
	color: var(--clr-dark-grayish-blue);
}
.avatar {
	width: 2.5rem;
}
.offcanvas {
	max-width: 70%;
	gap: 2rem;
}
.navbar-nav {
	gap: 2rem;
}
.navbar_item option {
	font-weight: 700;
	font-size: large;
}

/* Product photo */
.item_photo {
	margin-top: 5rem;
}
.item_photo img {
	width: 100%;
	height: 34rem;
}
.photo_selection {
	width: 100%;
	position: absolute;
	top: 21rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
}
.select_container {
	background-color: var(--clr-white);
	width: 1rem;
	height: 1rem;
}
.previous.select_container {
	border-radius: 50%;
	background-image: url(images/icon-previous.svg);
	background-repeat: no-repeat;
	background-position: 40% 50%;
}
.previous:hover {
	background-image: url(images/icon-previous-orange.svg);
	background-color: var(--clr-white);
	width: 1rem;
	height: 1rem;
}
.next.select_container {
	border-radius: 50%;
	background-image: url(images/icon-next.svg);
	background-repeat: no-repeat;
	background-position: 55% 50%;
}
.next:hover {
	background-image: url(images/icon-next-orange.svg);
	background-color: var(--clr-white);
	width: 1rem;
	height: 1rem;
}

/* Product details */
.product_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 1.8rem;
	gap: 1.5rem;
}
.product_details h1 {
	color: var(--clr-orange);
	font-weight: 700;
	font-size: medium;
}
.product_details h2 {
	color: var(--clr-Vdark-blue);
	font-size: xx-large;
	font-weight: 700;
}
.product_info {
	color: var(--clr-dark-grayish-blue);
	max-width: 37ch;
	font-size: 1.5rem;
	line-height: 2.5rem;
}
.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.price_group_one {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.new_price {
	font-weight: 700;
	font-size: xx-large;
}
.price-badge {
	background-color: var(--clr-pale-orange);
	color: var(--clr-orange);
	font-size: medium;
	height: 80%;
	border-radius: 8px;
}
.original_price {
	font-weight: 700;
	font-size: large;
	color: var(--clr-grayish-blue);
	text-decoration: line-through;
}

/* Footer */
.btn {
	padding: 1.7rem;
	border-radius: 1rem;
	border: none;
}
.btn-primary {
	background-color: var(--clr-orange);
	color: var(--clr-white);
	font-size: medium;
	font-weight: 700;
	display: flex;
	justify-content: center;
	gap: 2rem;
	align-items: center;
	box-shadow: 10px 15px 60px -17px var(--clr-orange);
	transition: all 0.3s;
}
.btn-primary:hover {
	background-color: var(--clr-hover-orange);
}
.btn-primary img {
	color: var(--clr-white);
}
.quantity {
	background-color: var(--clr-light-grayish-blue);
	border-radius: 1rem;
	color: var(--clr-dark-grayish-blue);
	font-weight: 700;
	font-size: large;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.quantity .btn {
	padding: 0.5rem;
}
